# Dependencias
node_modules/

# Archivos de datos locales
data/

# Variables de entorno
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
